.env
.env.local
model/line-model
model/word-model
Training/
Testing/
Validation/
Notebook/Customized_Chatbot/*.csv
Notebook/Customized_Chatbot/*.json
.ipynb_checkpoints/
Checkpoints/
prescriptions/
disease_dataset.csv
medicine_dataset.csv
tests_list.json
.vscode/
